.list-group-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}
.list-group-item.done{
    opacity: .3;
}
.todo-list-item-label{
    position: relative;
}
.todo-list-item-label::after{
    position: absolute;
    content: '';
    background-color: #000;
    height: 1px;
    width: 0%;
    transition: .3s;
    left: 0;
    bottom: 10px;
}
.done .todo-list-item-label:after{
    width: 100%;
}
.list-group-item .btn-todo{
    width: 35px;
    margin: 0 10px ;
    font-size: 20px;
}
.list-group-item p{
    margin: 0;
    padding: 0;
}